{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>About</title>
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quando&family=Titillium+Web:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
    <style type="text/css">
        body{
            background-color: #439B3B;
            font-family: 'Titillium Web', sans-serif;
        }

        .nav-burger {
            width: 100%;
            /* float:right; 
            margin-left: 95%; 
            margin-top: -2%; */
            /* border: 2px solid black; */
        }

        .link {
            /* font-family: Titillium Web;  */
            color: #009aeb; 
            text-align: center;
        }

        .row.app-name p {
            color: white;
            font-size: 2rem;
            font-family: 'Quando', serif;
        }
        .about-text{
            height: 50%;
            width: 50%;
            background-color: aliceblue;
            text-align: center;
        }

        .dropdown{
            background-color: #2F472F; 
            width: 50%; text-align: center; 
            font-size: 40px; 
            font-family: 'Titillium Web'; 
            color: white; 
            border-radius: 20px;
            margin-bottom: 30px;
            float: left;
        }
        .icon{
            margin: 4px 4px;
            left: 95%;
            bottom: 0px;
            position: absolute;
            font-size: 40px;
        }
        #back-icon{
            position: absolute;
            bottom: 0px;
        }
        h2{
            font-size: 40px;
            margin-left: 20px;
        }
        h1{
            color: white;
        }
    </style>

</head>
<body>
    <div class = "container-fluid">
        <div class="row app-name">
            <div class="col-sm-6 app-name">
                <p>Auxilium</p>
            </div>

            <div class="col-sm-6 text-right nav-burger">
                <a href="#" data-toggle="modal" data-target="#staticBackdrop">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <span class="material-icons" id="burger"style="color: white; font-size: 50px;">menu</span>
                        </div>
                    </div>
                </a>
    
                <div class ="modal fade" id="staticBackdrop" data-keyboard="false" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <a class="close" href="">&times;</a>
                                <div class="content">
                                    <a href="http://localhost:8000/app/feed">
                                        <p class="link" style="color: #009aeb; font-family: Titillium Web;">Home Feed</p>
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="http://localhost:8000/app/newtask">
                                       <p class="link" style="color: #009aeb; font-family: Titillium Web;">Request Help</p>
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="http://localhost:8000/app/newblog">
                                        <p class="link" style="color: #009aeb; font-family: Titillium Web;">Add Blog Post</p>
                                    </a>
                                    
                                </div>
                                <div class="content">
                                    <a href="http://localhost:8000/app/todo">
                                        <p class="link" style="color: #009aeb; font-family: Titillium Web;">To-Do Tasks</p>
                                    </a>
                                    
                                </div>
                                <div class="content">
                                    <a href="http://localhost:8000/app/profile">
                                        <p class="link" style="color: #009aeb; font-family: Titillium Web;">Profile</p>
                                    </a>
                                    
                                </div>
                                <div class="content">
                                    <a href="http://localhost:8000/app/privacy">
                                        <p class="link" style="color: #009aeb; font-family: Titillium Web;">Privacy</p>
                                    </a>
                                    
                                </div>
                                <div class="content">
                                    <a href="http://localhost:8000/app/settings">
                                        <p class="link" style="color: #009aeb; font-family: Titillium Web;">Settings</p>
                                    </a>
                                    
                                </div>
                                <div class="content">
                                    <a href="http://localhost:8000/app/help">
                                        <p class="link" style="color: #009aeb; font-family: Titillium Web;">Contact Us</p>
                                    </a>
                                    
                                </div>
                                <div class="content">
                                    <a href="http://localhost:8000/app/about">
                                        <p class="link" style="color: #009aeb; font-family: Titillium Web;">Help and About</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "row col-sm-12">
            <h1>Help & About</h1>
        </div>
        <div>
             <div style="background-color: #2F472F; width: 80%; margin-top:3%; margin-left:10%">
            <details style="cursor: pointer; padding: 20px 10px;">
                <summary style="font-size:40px; color:white">
                    Our Mission and Vision
                </summary>
                <p style="color:white; font-size: 28px">
                    Birthed at the tail-end of the pandemic, Auxilium’s mission is to rebuild communities and bring people together once more. Our vision is to become a core part of the communities we are integrated in and be the binding element that ties families together.
                </p>
            </details>
        </div>
        
        <div style="background-color: #2F472F; width: 80%; margin-top:3%; margin-left:10%">
            <details style="cursor: pointer; padding: 20px 10px;">
                <summary style="font-size:40px; color:white;">
                    Our Ideal Users
                </summary>
                <ol style="color:white; font-size: 28px">
                    <li>
                        College Students who love volunteering and  have ad hoc availability and busy schedules. They can volunteer when they have time (hence might need a calendar feature/aka can add to the user's calendar). However, they prefer variable volunteering (these college students are not free to volunteer every week at a specific time, but free at different times, sometimes on ad hoc basis each week). These volunteers are interested in contributing to their smaller micro-community (eg. frat, sorority, dorms, apartment) or their larger local community. 
                    </li>
                    <li>
                        Older adults who need help with their side projects or volunteering gigs, cannot or do not want to pay to get these volunteering done, and like interacting with and meeting new people through volunteering (aka will volunteer alongside or organize these events)
                    </li>
                </ol>
            </details>
        </div>

        <div style="background-color: #2F472F; width: 80%; margin-top:3%; margin-left:10%">
            <details style="cursor: pointer; padding: 20px 10px;">
                <summary style="font-size:40px; color:white">
                    How to Use Our App
                </summary>
                <p>
                    Testing
                </p>
            </details>
        </div>

        <div style="background-color: #2F472F; width: 80%; margin-top:3%; margin-left:10%">
            <details style="cursor: pointer; padding: 20px 10px;">
                <summary style="font-size:40px; color:white">
                    Why Volunteer?
                </summary>
                <ol style="color:white; font-size: 28px">
                    <li>Meet new people and develop lasting relationships.</li>
                    <li>Increase your happiness and improve your mental health.</li>
                    <li>Learn new skills and increase your brain function and self-esteem.</li>
                    <li>Stand out on job applications and further your career. </li>
                    <li>Decrease your stress and accrue the health benefits.</li>
                    <li>Do good in the world and help make a difference.</li>
                  </ol>
            </details>
        </div>
       
    </div>
    <div id = "back-icon">
        <span class="material-icons" onclick="back()" style="color: white; font-size: 4rem; padding-left: 2rem; padding-top: 1rem;">arrow_back_ios</span>
    </div>
</body>
<script>
    var uid = Date.now() % 10000; // Use this to ID the user
    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat');
    
    let back = () => {
        window.location.href = "/app/";
    }

    if (sessionStorage.getItem('username')) {
        document.getElementById("back-icon").style.display = 'none';
    } else {
        document.getElementById("burger").style.display = 'none';
    }
    
    
</script>
</html>
