{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quando&family=Titillium+Web:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">

    </style>

</head>
<body style="background-color:#439B3B;">
    <div style="color: white; font-size: 2rem; font-family: 'Quando', serif; margin-left: 2%; margin-top: 1%">
        Auxilium
    </div>

    <div style="color: white; font-size: 48px; font-family: 'Titillium Web'; margin-left: 2%; margin-top: 1%">
        Privacy
    </div>

    <div style="display: flex; justify-content: center; align-items: center; margin-top: 5%">
        <div style="background-color: #2F472F; width: 90%; font-size: 48px; font-family: 'Titillium Web'; color: white; border-radius: 20px; text-align: center; ">
            Verify My Profile
        </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; margin-top: 7%">
        <div style="background-color: #2F472F; width: 90%; font-size: 48px; font-family: 'Titillium Web'; color: white; border-radius: 20px; text-align: center; ">
            How Auxilium is Ensuring My Privacy and Security
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 7%">
        <div style="background-color: #2F472F; width: 90%; font-size: 48px; font-family: 'Titillium Web'; color: white; border-radius: 20px; text-align: center; ">
            CCPA Policy on Cookies
        </div>
    </div>
</body>
<script>
    var uid = Date.now() % 10000; // Use this to ID the user
    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat');

</script>
</html>
